<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure center mb4">

			<h1 class="db center mb4 primary f2 b tc">Amy Lynn Green</h1>

			<p class="f3 lh-title light-gray b tc mb2">Subscribe to my Newsletter</p>
			<p class="tc">Enter your email address for quarterly writing updates and bookish fun!</p>

			{{ partial "newsletter-form" . }}

		</div>

    <ul class="mb3 center flex-ns flex-wrap justify-between mw5 tc">
      <li><a href="/" class="link">Home</a></li>
      <li><a href="/books/" class="link">Books</a></li>
      <li><a href="/about/" class="link">Meet Amy</a></li>
      <li><a href="/contact/" class="link">Contact</a></li>
      <li><a href="/news/" class="link">News</a></li>
    </ul>

    <ul class="mhn2 tc">
      {{ partial "social-icon" (dict "link" "https://www.facebook.com/amygreenbooks/" "svg" "icons-facebook") }}
      {{ partial "social-icon" (dict "link" "https://www.instagram.com/amygreenbooks/" "svg" "icons-instagram") }}
    </ul>
	</div>

</footer>

{{ partial "svg" . }}
