<div class="pv5 ph3 pv6-l{{if isset . "image" }} bg-center cover{{end}}" style="background-image:url('{{.image}}')">
  <div class="mw7 center">
    <div class="db mb3">
      <div class="mw7 relative mb2">
        <h1 class="f2 f1-l b di lh-title {{if isset . "image" }}ph2 bg-black white{{else}}primary{{end}}">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative">
        {{ if .subtitle }}
        <p class="f4 fw5 di lh-title {{if isset . "image" }}ph2 bg-primary white{{else}}grey-3{{end}}">
          {{.subtitle}}
        </p>
        {{ end }}
      </div>
    </div>
  </div>
</div>
