<ul class="flex">
{{ $currentPage := . }}
{{ range .Site.Menus.main }}
  <li><a href="{{.URL}}" class="pv3 ph4 no-underline db nowrap{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">{{.Name}}</a></li>
{{ end }}

  <li><a href="/books/" class="pv3 ph4 no-underline db nowrap{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">Books</a></li>
  <li><a href="/about/" class="pv3 ph4 no-underline db nowrap{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">Meet Amy</a></li>
  <li><a href="/contact/" class="pv3 ph4 no-underline db nowrap{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">Contact</a></li>
  <li><a href="/news/" class="pv3 ph4 no-underline db nowrap{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">News</a></li>
</ul>
