<nav class="bg-black relative white main-nav">
	<div class="mw7 flex-ns flex-wrap justify-between items-center center">
		<!-- Logo -->
		<a href="/" class="pa3 fw6 db mr4-ns nowrap no-underline bg-primary bw1 b--primary bb bt">
			Amy Lynn Green
		</a>
    <ul class="flex overflow-x-scroll overflow-x-visible-ns">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <li>
          <a href="{{.URL}}" class="pa3 no-underline db nowrap bb bw2{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} b--primary{{else}} b--black{{end}}">
            {{.Title}}
          </a>
        </li>
      {{ end }}
    </ul>
	</div>
</nav>
