.cms p {
  max-width: none;
}

/* Images */
.cms img {
  display: block;
  margin-bottom: var(--spacing-medium);
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.cms figure {
  margin-bottom: var(--spacing-medium);
}

.cms figure img {
  margin-bottom: var(--spacing-small);
}

.cms figcaption {
  font-size: 0.875em;
  color: var(--grey-3);
  font-style: italic;
}

/* Links */
.cms a {
  color: var(--primary);
  transition: var(--hover-transition);
}
.cms a:hover {
  background-color: var(--highlight);
  color: var(--black);
}

/* Lists */
.cms ul,
.cms ol,
.cms li {
  position: relative;
}

.cms ul,
.cms ol {
  margin-bottom: var(--spacing-medium);
}

.cms ul ul,
.cms ol ol {
  padding-left: var(--spacing-small);
}

.cms ul {
  margin-left: 1.33rem;
}
.cms ul > li:before {
  content: "✱";
  left: -1.33rem;
  position: absolute;
  color: var(--primary);
}

.cms ol {
  list-style: none;
  margin-left: var(--spacing-medium);
  counter-reset: i 0;
}
.cms ol > li:before {
  font-weight: 800;
  margin-right: var(--spacing-small);
  position: absolute;
  height: 100%;
  content: counter(i);
  counter-increment: i;
  color: var(--primary);
  right: 100%;
}

/* Blockquotes */
.cms blockquote {
  background-color: var(--grey-1);
  display: block;
  border-radius: var(--border-radius);
  padding: var(--spacing-medium);
  color: var(--primary);
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: var(--spacing-medium);
}

.cms blockquote p {
  margin: 0;
}

.cms-editor-visual ul {
  list-style-type: circle;
}

.cms-editor-visual ol {
  list-style-type: decimal;
}

.cms hr {
  margin: var(--spacing-large) auto;
  width: var(--spacing-extra-extra-large);
  border-top: solid 1px var(--grey-2);
  border-bottom: none;
}
