.book {
  margin-top: var(--spacing-large);
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media screen and (min-width: 46em) {
  .book {
    display: grid;
    grid-template-columns: 1fr 4rem 11rem 21rem 4rem 1fr;
  }
}

@media screen and (min-width: 69em) {
  .book {
    grid-template-columns: 1fr 9rem 11rem 21rem 9rem 1fr;
  }
}

.header,
.body,
.endorsements {
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
  width: 100%;
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
}

.header {
  grid-area: 1 / 4 / 2 / 6;
}

.image {
  grid-area: 1 / 2 / 3 / 4;
  max-width: 20rem;
  margin: 0 auto var(--spacing-medium);
}

.body {
  grid-area: 2 / 4 / 3 / 6;
}

.purchase {
  grid-area: 3 / 1 / 4 / 7;
}

.endorsements {
  grid-area: 4 / 3 / 5 / 5;
}
