.link {
  text-decoration: none;
  transition: var(--hover-transition);
  margin-left: calc(-1 * var(--spacing-medium));
  margin-right: calc(-1 * var(--spacing-medium));
}

.link:hover {
  background: var(--white);
}

.link:hover h2 {
  color: var(--primary);
}
