{{ define "header" }}
  <div class="cover bg-primary">
    <div class="mw7 center pv5 pv6-l ph3">
      <div class="db mb3">
        <div class="mw7 relative mb3">
          <h1 class="f2 f1-l b di lh-title mb3 mw6 white">
            {{.Title}}
          </h1>
        </div>
        <div class="mw7 relative">
          {{ if .Params.subtitle }}
          <p class="f4 fw5 di lh-title mb3 mw6 highlight">
            {{.Params.subtitle}}
          </p>
          {{ end }}
        </div>
      </div>
    </div>

    <nav class="bg-primary flex flex-wrap justify-center bw2 white">
      {{ partial "nav-links" }}
    </nav>
  </div>
{{ end}}

{{ define "main" }}
  <div class="bg-grey-1 pb4 pt5">
    <div class="mw7 center">
      {{ partial "books" . }}
    </div>
  </div>

  <div class="bg-off-white pb4 pt5">
    <div class="mw7 center">
      {{ partial "media-block-reverse" .Params.welcome}}
    </div>
  </div>
{{ end }}
