
{{ define "header" }}
{{ $altHeader := false }}
  <div class="hero cover bg-cover" style="background-image:url('{{.Params.image}}');background-position: 84% 70%;">
    <div style="background:rgba(0,0,0,0.1)">
    <div class="mw7 center pv5 pv6-l ph3 tr">
      <div class="db mb3">
        <div class="relative mb2">
          <h1 class="f2 f1-l b di lh-title mw6 white{{if $altHeader}} ph2 bg-black{{end}}">
            {{.Title}}
          </h1>
        </div>
        <div class="relative">
          {{ if .Params.subtitle }}
          <p class="f3 fw5 di lh-title mw6 {{if $altHeader}}ph2 white bg-primary{{else}}grey-5{{end}}">
            {{.Params.subtitle}}
          </p>
          {{ end }}
        </div>
      </div>
    </div>

    <nav class="flex justify-center bw2 white bg-black main-nav">
      <ul class="flex flex-wrap justify-between w-100 mw6">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          <li class="flex-auto tc">
            <a href="{{.URL}}" class="pv3 ph2 no-underline db nowrap{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
              {{.Name}}
            </a>
          </li>
        {{ end }}
      </ul>
    </nav>
      </div>
  </div>
{{ end}}

{{ define "main" }}
  <div class="bg-grey-1 pb4 pt5">
    <div class="mw7 center">
      {{ partial "books" . }}
    </div>
  </div>

  <div class="bg-off-white pb4 pt5">
    <div class="mw7 center">
      {{ partial "media-block-reverse" .Params.welcome}}
    </div>
  </div>
{{ end }}
