
{{ define "header" }}
  <div class="hero cover bg-cover" style="background-image:url('{{.Params.bannerImage}}');background-position: 84% 70%;">
    <div style="background:rgba(0,0,0,0.1)">
    <header class="mw7 center pv5 pv6-l ph3 tr mb3">
      <h1 class="f2 f1-l b lh-title white mb2">
        {{.Title}}
      </h1>
      {{ if .Params.subtitle }}
      <p class="f3 fw5 lh-title mw-100 black">
        {{.Params.subtitle}}
      </p>
      {{ end }}
    </header>

    <nav class="flex justify-center bw2 white bg-black main-nav">
      <ul class="flex flex-wrap justify-between w-100 mw6">
        {{ range .Site.Menus.main }}
          <li class="flex-auto tc">
            <a href="{{.URL}}" class="pv3 ph2 no-underline db nowrap">
              {{.Title}}
            </a>
          </li>
        {{ end }}
      </ul>
    </nav>
      </div>
  </div>
{{ end}}

{{ define "main" }}
  <div class="bg-grey-1 pb4 pt5">
    <div class="mw7 center">
      {{ partial "books" . }}
    </div>
  </div>

  <div class="bg-off-white pb4 pt5">
    <div class="mw7 center">
      {{ partial "media-block-reverse" .Params.welcome}}
    </div>
  </div>
{{ end }}
