#__next table {
  border-radius: var(--border-radius);
  overflow: hidden;
}

#__next td,
#__next th {
  padding: var(--spacing-medium);
}

#__next th:not(:first-child),
#__next td:not(:first-child) {
  text-align: right;
}

#__next th {
  color: var(--grey-3);
  font-weight: 700;
  white-space: nowrap;
}

#__next tr #__next th {
  text-align: center;
}

#__next tbody tr:nth-child(even) {
  background-color: var(--grey-1);
}
