:root {
  /* Colors */
  --primary: hsl(358deg, 69%, 48%);
  --highlight: hsl(152, 44%, 89%);
  --white: rgba(255, 255, 255, 1);
  --off-white: rgb(255, 252, 252);
  --grey-1: rgb(245, 242, 242);
  --grey-2: rgb(200, 199, 199);
  --grey-3: rgb(89, 86, 86);
  --grey-4: rgb(66, 64, 64);
  --black: hsl(0deg, 0%, 9%);

  /* Typography */
  --font-family: "avenir next", avenir, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --line-height: 1.5;

  --font-size: 18px;
  --font-size-m: 20px;
  --font-size-l: 22px;

  --body-font-weight: 400;
  --bold-font-weight: 700;

  /* Sizing */
  --spacing-none: 0;
  --spacing-extra-small: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-extra-large: 4rem;
  --spacing-extra-extra-large: 8rem;
  --spacing-extra-extra-extra-large: 16rem;

  /* Miscelaneous */
  --border-radius: 0.25rem;
  --hover-transition: all 150ms ease;
}
