.article {
  width: 100%;
}

.featured {
  background-color: white;
}

.side {
  display: block;
}

.text-side {
  min-width: 48%;
  flex: 1 1;
  padding: var(--spacing-large);
  background: white;
}

.img-side {
  max-width: 18rem;
  margin: 0 auto var(--spacing-medium);
}

@media screen and (min-width: 50em) {
  .article.featured {
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;
  }
}
