<article class="flex-m mhn3-m mb4">
  <a class="db mr3-m mb2 w-50-m" href="{{ .RelPermalink }}">
    <img src="{{.Params.image}}" alt="" class="db pa1 border-box" />
  </a>

  <div class="pl3-m w-50-m">
    <header>
      <h3 class="f3 b lh-title mb1"><em>{{.Title}}</em></h3>
      {{ if (and (isset .Params "releasedate") ((time .Params.releasedate).After now)) }}
        <p class="mid-gray lh-title mb2">
          Releases: {{ dateFormat "January 2006" .Params.releasedate }}
        </p>
      {{ end }}
    </header>
    <p>{{.Description}}</p>
    <footer>
      <a href="{{ .RelPermalink }}" class="link">Learn more →</a>
    </footer>
  </div>
</article>
