{{ define "main" }}
  <article class="mw6 center ph3 pv4" itemscope itemtype="https://schema.org/Book">
    <header>
      <h1 class="f2 lh-title b i mb3" itemprop="name">{{.Title}}</h1>
      {{ with .Params.releasedate }}
        <p class="grey-3 b lh-title mb2">
          {{ if ((time .).After now) }}
            Releases:
          {{ else }}
            Released:
          {{ end }}
          <time itemprop="datePublished" datetime="{{ dateFormat "2006-01-02T15:04:05Z0700" . }}">
            {{ dateFormat "January 2006" . }}
          </time>
        </p>
      {{ end }}
    </header>

    {{ with .Params.image }}
      <figure>
        <img itemprop="image" src="{{ . }}" alt="Cover for {{ $.Title }}" />
      </figure>
    {{ end }}

    <div class="cms mb4" itemprop="abstract">
      {{ .Content }}
    </div>
  </article>

  <section class="bg-grey-1 pv4 mb4">
    <div class="mw6 ph3 center">
      <h2 class="f3 b lh-title primary">
      {{ if (and (isset .Params "releasedate") ((time .Params.releasedate).After now)) }}
        Pre-order now at:
      {{ else }}
        Purchase today at:
      {{ end }}
      </h2>

      <div class="flex flex-wrap justify-center">
      {{ range $index, $element := .Params.retailers }}
        {{ partial "retailer" $element }}
      {{ end }}
      </div>
    </div>
  </section>

  <section class="center mb4 ph3 mw6">
    {{ range .Params.endorsements }}
      {{ partial "blockquote" . }}
    {{ end }}
  </section>
{{ end }}
