{{define "opengraph"}}
<meta property="og:type" content="book">
<meta property="og:book:author" content="Amy Lynn Green">
{{ if (isset .Params "isbn") }}<meta property="og:book:isbn" content="{{ .Params.isbn }}">{{ end }}
{{ if (isset .Params "releasedate") }}<meta property="og:book:releasedate" content="{{ (time .Params.releasedate).Format "2006-01-02T15:04:05Z0700" }}">{{ end }}
{{end}}

{{ define "main" }}
  <div class="mw6 center ph3 pv4">
    <h1 class="f2 lh-title b mb3"><em>{{.Title}}</em></h1>
    {{ if (and (isset .Params "releasedate") ((time .Params.releasedate).After now)) }}
      <p class="grey-3 b lh-title mb2">
        Releases: {{ dateFormat "January 2006" .Params.releasedate }}
      </p>
    {{ end }}
    <div class="cms mw6 mb4">
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
      {{ .Content }}
    </div>
  </div>

  <div class="bg-grey-1 pv4 mb4">
    <div class="mw6 ph3 center">
      <h2 class="f3 b lh-title primary">
      {{ if (and (isset .Params "releasedate") ((time .Params.releasedate).After now)) }}
        Pre-order now at:
      {{ else }}
        Purchase today at:
      {{ end }}
      </h2>

      <div class="flex flex-wrap justify-center">
      {{ range $index, $element := .Params.retailers }}
        {{ partial "retailer" $element }}
      {{ end }}
      </div>
    </div>
  </div>

  <div class="center mb4 ph3 mw6">
    {{ range .Params.endorsements }}
      {{ partial "blockquote" . }}
    {{ end }}
  </div>
{{ end }}
